{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'recipes/css/style.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
<!--Меню-->

{% block menu %}
<div class="header center">
   <ul id="mainmenu" class="mainmenu">
       <li class="logo">БуфетЪ</li>
    {% for m in menu %}
       <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
    {% endfor %}
       {% if user.is_authenticated %}
       <li class="last"> {{ user.username }} | <a href="{% url 'users:logout' %}">Выйти</a></li>
       {% else %}
       <li class="last"><a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:registration' %}">Регистрация</a></li>
       {% endif %}
    </ul>
</div>
{% endblock menu %}

<!--Категории-->

{% block category %}
<div class="category center">
    <ul id="category__ul" class="category__ul">
        <li><a href="{% url 'home' %}">Все категории</a></li>
        {% for cat in categorys %}
        <li><a href="{% url 'category' cat.id %}">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!--Основной контент-->

{% block content %} {% endblock %}
</body>
</html>